body{
    background-color: #4e73df;
    font-family:'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;     
    margin: 0;
}
.mi-boton {
      background-color: #4e73df;
      color: white;
      padding: 20px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      transition: background-color 0.3s ease;
      text-align: center;
      text-decoration: none;

    }


    .mi-boton:hover {
      background-color: white;
      transform: scale(1.05);
      color: #4e73df;
    }